.form_contacto{
    display: block;
    width: 30%;
    font-size: 150%;
    background-color: grey;
    /* padding: 3% 25%; */
    border-radius: 2%;
               div {
    padding: 10px;
                     }
               input{
    border: none;
    border-radius: 5px;
                     }
}