.contacto{
    text-align: center;
    font-size: 190%;
    form{
        display: flex;
        flex-direction: column;
        width:45%;
        padding: 1% 1%;
        margin: 6% auto;
        background-color: #ffc8dd;
        border-radius: 3%;
        label{
            height: 35px;
            padding: 1%;
            }
        input{
            height: 25px;
            padding: 2%;
            border: none;
            border-radius: 4px;
            }
        textarea{
            border: none;
            border-radius: 4px;
                }
        }
}



